body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./bg\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.container {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qrcode {
    
        margin: 0 auto; /* Center the QR code horizontally */
        position: relative;
        left:100px;
        margin-top: 20px;
    
    
}
